Q1 Celsius to Farenheit

In [26]:
celsius = float(input("Enter temperature in celsius: "))
farenheit = (celsius * 1.8) + 32
print("%.2f Celsius is equal to %.2f farenheit"%(celsius,farenheit))
print("Khushi Dugar_MCA_A_66")

Enter temperature in celsius: 100
100.00 Celsius is equal to 212.00 farenheit
Khushi Dugar_MCA_A_66

Q2 Swap two numbers

In [25]:
num1 = int(input("Enter first number: "))
num2 =int (input("Enter second number: "))

print("Before Swapping numbers are num1: %d, num2: %d: " %(num1,num2))
temp = num1
num1 = num2
num2 = temp

print("After Swapping numbers are num1: %d, num2: %d: " %(num1,num2))
print("Khushi Dugar_MCA_A_66")

Enter first number: 20
Enter second number: 60
Before Swapping numbers are num1: 20, num2: 60:
After Swapping numbers are num1: 60, num2: 20:
Khushi Dugar_MCA_A_66

Q3: Given year is leap year or not

In [23]:
year = int(input("Enter a year "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")
print("Khushi Dugar_MCA_A_66")

Enter a year 2021
2021 is not a leap year.
Khushi Dugar_MCA_A_66

Q4. Display reverse of a number

In [22]:
num = int(input("Enter a number "))

num1 = num
sum = 0
while num1 != 0:
  digit = num1 % 10
  sum = (sum*10)+digit
  num1 = num1 // 10

print(f"Reverse of {num} is {sum}")
print("Khushi Dugar_MCA_A_66")

Enter a number 132
Reverse of 132 is 231
Khushi Dugar_MCA_A_66

Q5. Factors of a given number

In [ ]:
num = int(input("Enter a number "))

print(f"Factors of {num} are: ")
for i in range(1, num + 1):
  if num % i == 0:
    print(i)
print("Khushi Dugar_MCA_A_66")

Enter a number 6
Factors of 6 are:
1
2
3
6

Q6. Generate prime number series up to n

In [21]:
n = int(input("Enter value for n: "))

print(f"Prime numbers up to {n} are:")

for i in range(2, n + 1):
    is_prime = True
    for j in range(2, int(i ** 0.5) + 1):
        if i % j == 0:
            is_prime = False
            break
    if is_prime:
        print(i)
print("Khushi Dugar_MCA_A_66")

Enter value for n: 20
Prime numbers up to 20 are:
2
3
5
7
11
13
17
19
Khushi Dugar_MCA_A_66

Q7. Write a program which makes use of function to display all such numbers which are divisible by 7 but are not a multiple of 5, between 1000 and 2000.

In [20]:
def find_numbers():
    results = []
    for num in range(1000, 2001):
        if num % 7 == 0 and num % 5 != 0:
            results.append(num)
    print("Numbers divisible by 7 but not a multiple of 5 between 1000 and 2000 are:")
    print(results)
find_numbers()

print("Khushi Dugar_MCA_A_66")

Numbers divisible by 7 but not a multiple of 5 between 1000 and 2000 are:
[1001, 1008, 1022, 1029, 1036, 1043, 1057, 1064, 1071, 1078, 1092, 1099, 1106, 1113, 1127, 1134, 1141, 1148, 1162, 1169, 1176, 1183, 1197, 1204, 1211, 1218, 1232, 1239, 1246, 1253, 1267, 1274, 1281, 1288, 1302, 1309, 1316, 1323, 1337, 1344, 1351, 1358, 1372, 1379, 1386, 1393, 1407, 1414, 1421, 1428, 1442, 1449, 1456, 1463, 1477, 1484, 1491, 1498, 1512, 1519, 1526, 1533, 1547, 1554, 1561, 1568, 1582, 1589, 1596, 1603, 1617, 1624, 1631, 1638, 1652, 1659, 1666, 1673, 1687, 1694, 1701, 1708, 1722, 1729, 1736, 1743, 1757, 1764, 1771, 1778, 1792, 1799, 1806, 1813, 1827, 1834, 1841, 1848, 1862, 1869, 1876, 1883, 1897, 1904, 1911, 1918, 1932, 1939, 1946, 1953, 1967, 1974, 1981, 1988]
Khushi Dugar_MCA_A_66

Q8. Given number is palindrome or not.

In [19]:
num = int(input("Enter a number: "))

num1 = num
sum = 0
while num1 != 0:
  digit = num1 % 10
  sum = sum * 10 + digit
  num1 = num1 / 10

if sum == num:
  print(f"{num} is a palindrome number")
else:
  print(f"{num} is not a palindrome number")

print("Khushi Dugar_MCA_A_66")

Enter a number: 252
252 is not a palindrome number
Khushi Dugar_MCA_A_66

Q9.	WAP to check whether a) is a perfect number b) is an Armstrong number

In [15]:
num = int(input("Enter a number to check if it is a perfect number: "))

sum = 0

for i in range (1,num):
  if num % i == 0:
    sum += i

if sum == num:
    print(f"{num} is a perfect number.")
else:
    print(f"{num} is not a perfect number.")

print("Khushi Dugar_MCA_A_66")

Enter a number to check if it is a perfect number: 6
6 is a perfect number.
Khushi Dugar_MCA_A_66

In [14]:
# Input from the user
num = int(input("Enter a number to check if it is an Armstrong number: "))

# Convert the number to a string to easily iterate over digits
num_str = str(num)

# Calculate the number of digits
num_digits = len(num_str)

# Initialize the sum of powers of digits
sum_of_powers = 0

# Calculate the sum of each digit raised to the power of num_digits
for digit in num_str:
    sum_of_powers += int(digit) ** num_digits

# Check if the sum of powers equals the original number
if sum_of_powers == num:
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

print("Khushi Dugar_MCA_A_66")

Enter a number to check if it is an Armstrong number: 153
153 is an Armstrong number.
Khushi Dugar_MCA_A_66

Q 10. WAP to generate the Fibonacci series upto n.

In [13]:
# Input from the user
n = int(input("Enter the value for n: "))

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Start with the first Fibonacci number
print(f"Fibonacci series up to {n} is:")

# Print the Fibonacci numbers up to n
while a <= n:
    print(a, end=" ")
    a, b = b, a + b

print("Khushi Dugar_MCA_A_66")

Enter the value for n: 10
Fibonacci series up to 10 is:
0 1 1 2 3 5 8 Khushi Dugar_MCA_A_66

Q1. WAP to print your name.

In [12]:
print("My name is: Khushi")

My name is: Khushi

Q2. Write a Java program to add two numbers.

In [11]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

sum = num1+num2

print(f"Sum of numbers are: {sum}")
print("Khushi Dugar_MCA_A_66")4

Enter first number: 62
Enter second number: 5
Sum of numbers are: 67
Khushi Dugar_MCA_A_66

Q3. WAP to change temperature from Fahrenheit to Celsius.

In [10]:
# Input from the user
fahrenheit = float(input("Enter temperature in Fahrenheit: "))

# Convert Fahrenheit to Celsius using the formula
celsius = (fahrenheit - 32) * 5 / 9

# Print the converted temperature
print(f"{fahrenheit}째 Fahrenheit is equal to {celsius:.2f}째 Celsius.")
print("Khushi Dugar_MCA_A_66")

Enter temperature in Fahrenheit: 65
65.0째 Fahrenheit is equal to 18.33째 Celsius.
Khushi Dugar_MCA_A_66

Q4. WAP to find area and perimeter of a rectangle.

In [9]:
# Input from the user
length = float(input("Enter the length of the rectangle: "))
width = float(input("Enter the width of the rectangle: "))

# Calculate the area
area = length * width

# Calculate the perimeter
perimeter = 2 * (length + width)

# Print the results
print(f"The area of the rectangle is: {area:.2f}")
print(f"The perimeter of the rectangle is: {perimeter:.2f}")
print("Khushi Dugar_MCA_A_66")

Enter the length of the rectangle: 30
Enter the width of the rectangle: 28
The area of the rectangle is: 840.00
The perimeter of the rectangle is: 116.00
Khushi Dugar_MCA_A_66

Q5. WAP to find area and perimeter of a circle.

In [8]:
# Use an approximate value of pi
pi = 3.14159

# Input from the user
radius = float(input("Enter the radius of the circle: "))

# Calculate the area
area = pi * radius ** 2

# Calculate the circumference
circumference = 2 * pi * radius

# Print the results
print(f"The area of the circle is: {area:.2f}")
print(f"The circumference of the circle is: {circumference:.2f}")
print("Khushi Dugar_MCA_A_66")

Enter the radius of the circle: 4
The area of the circle is: 50.27
The circumference of the circle is: 25.13
Khushi Dugar_MCA_A_66

Q6. WAP to display whether a number is odd or even.

In [7]:
num = int(input("Enter a number: "))

if num % 2 == 0:
  print(f"{num} is an even number")
else:
  print(f"{num} is an odd number")

print("Khushi Dugar_MCA_A_66")

Enter a number: 22
22 is an even number
Khushi Dugar_MCA_A_66

Q7. WAP to check if a number is Positive or Negative.

In [6]:
num = int(input("Enter a number: "))

if num > 0:
  print(f"{num} is positive")
else:
  print(f"{num} is negative")

print("Khushi Dugar_MCA_A_66")

Enter a number: 65
65 is positive
Khushi Dugar_MCA_A_66

Q8. WAP to find maximum of three numbers

In [4]:
# Input from the user
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Initialize the maximum number as the first number
max_num = num1

# Compare with the second number
if num2 > max_num:
    max_num = num2

# Compare with the third number
if num3 > max_num:
    max_num = num3

# Print the maximum number
print(f"The maximum of the three numbers is: {max_num}")
print("Khushi Dugar_MCA_A_66")

Enter the first number: 10
Enter the second number: 20
Enter the third number: 30
The maximum of the three numbers is: 30.0
Khushi Dugar_MCA_A_66

Q9.  WAP to swap two numbers.

In [3]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number: "))

print(f"Before swapping num1 is {num1} and num2 is {num2}")

temp = num1
num1 = num2
num2 = temp

print(f"After swapping num1 is {num1} and num2 is {num2}")
print("Khushi Dugar_MCA_A_66")

Enter first number:10
Enter second number: 20
Before swapping num1 is 10 and num2 is 20
After swapping num1 is 20 and num2 is 10
Khushi Dugar_MCA_A_66

Q10.  WAP to convert miles to kilometers.

In [2]:
# Conversion factor
miles_to_km_conversion_factor = 1.60934

# Input from the user
miles = float(input("Enter the distance in miles: "))

# Convert miles to kilometers
kilometers = miles * miles_to_km_conversion_factor

# Print the result
print(f"{miles} miles is equal to {kilometers:.2f} kilometers.")
print("Khushi Dugar_MCA_A_66")

Enter the distance in miles: 23
23.0 miles is equal to 37.01 kilometers.
Khushi Dugar_MCA_A_66